.center {
  margin-left: auto !important; 
  margin-right: auto !important; 
}

.centered-list { 
	position: relative; 
	display: inline-block; 
	padding-left: 1em; 
	left: 50%; 
	transform: translateX(-50%); 
  font-size: 125%;
} 

.paper-title{
  margin-top: 25px;
}

.paper-title a:link{
  color: black;
}

.paper-title a:visited {
  color: black;
}

.paper-block{
  padding: 15px;
}

.light-gray{
  background-color: rgb(220,220,220);
}

.whitish{
  background-color: rgb(245,245,245)
}

.white{
  background-color: rgb(252,252,252)
}

.schedule-timing{
  font-size: smaller;
}

.schedule-paper-li{
  margin-bottom: 10px;
}

.schedule-paper-ol{
  padding-left: 1.1em; 
  font-size: 14px; 
  margin-top: 5px;
}

.schedule-paper-author-list-ul{
  list-style: none; 
  padding-left: 0em;
}

.img-keynote{
  float: left;
  height: 500px;
  margin-right: 20px;
}

/* Table styling from: https://www.youtube.com/watch?v=biI9OFH6Nmg&t=584s
and https://codepen.io/dcode-software/pen/dLVwOY */
.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 500px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.content-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

.content-table a{
  color:#212529;
}

.content-table a:link{
  color:#212529;
}

a{
  color:#0d6efd;
}

a:link{
  color:#0d6efd;
}
